html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  background-color: #0c0c0c;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

.login, .signup{
  border: 10px solid #0c0c0c;
  color: white;
  vertical-align: middle;
  float: left;
}

a{
  text-decoration: none;
  color: white;
}

