html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  background-color: #0c0c0c;
  display: table-cell;
  vertical-align: middle;
}

.frontpage{
    color: white;
    vertical-align: middle;
}
