body{
    background-color: #0c0c0c;
    font-family: Menlo, monospace;
    background-size: contain;
    overflow: hidden;
    color: white;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    height: 100%;
    font-size: 20px;
}
html {
    display: table;
    margin: auto;
    height: 100%;
}
.username{
    border: 10px solid #0c0c0c;
    color: white;
    float: left;
 
}
.password{
    border: 10px solid #0c0c0c;
    color: white;
    float: left;
}
.email{
    border: 10px solid #0c0c0c;
    color: white;
    float: left;
    margin-right: 7px;
}

input{
    background-color: #0c0c0c;
    color: white;
    height: 30px;
}

.labelEmail{
    background-color: #0c0c0c;
    color: white;
    margin-left: 33px;
}

.labelPassword{
    background-color: #0c0c0c;
    color: white;
  
}
.labelUsername{
    background-color: #0c0c0c;
    color: white;
   
}

.button{
    background-color: #0c0c0c;
    color: white;
    font-family: Menlo, monospace;
    width: 300px;
    height: 30px;
    margin-top: 5px;
    font-size: 15px;
    
}
