body {
    margin: 0 auto;
    background-position: center;
    background-size: contain;
    background-color: #0c0c0c;
}

.menu {
    position: sticky;
    top: 0;
    background-color: #0c0c0c;
    padding: 10px 0px 10px 0px;
    color: white;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.body {
    background-color: #0c0c0c;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

footer {
    width: 100%;
    bottom: 0px;
    background-color: #0c0c0c;
    color: #fff;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.rectangle {
    height: 75px;
    width: 100px;
    color: white;
    background-color: #0c0c0c;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-style: solid;
}
